<section class="contact-cont slidepanel">
  <div class="slide-inner">
    <i class="icon-close icons exit-slide"></i>
    <h2><span  class="underline org-underline">Contact Us Now</span></h2>
    <p>Interested in our product? Want To Hear More? You can either fill out the form below, or email us on <a href="mailto:hello@welltraveled.io">hello@welltraveled.io</a></p>

    <form autocomplete="off" action="https://formspree.io/hello@welltraveled.io" method="POST" id="contact-form" class="no-smoothState contact-form">
        <input type="text" name="name" placeholder="Name" id="inputName">
        <input type="text" name="subject" placeholder="Subject" id="inputsubject">
        <input type="email" placeholder="Email" name="_replyto" id="inputEmail">
        <textarea placeholder="Message" name="message" rows="2" id="inputMessage"></textarea>
        <input type="submit" placeholder="Name" value="Send" class="send-btn">
    </form>
    <div class="submit-fail display-none">Please fill in all form fields<br></div>
    <div class="submit-success display-none">Thanks! A staff member will be in touch shortly.<br></div>
  </div>
</section>
