<!-- This is the head of your html, add content here just like you would normally add it to the head. -->


<!-- Meta Data -->
<meta charset="utf-8">

    <!-- Meta data for SEO purposes. -->
    <title> {{page.title}} </title>
    <meta name="description" content="Well Traveled | We Exist To Make Travel Smarter">
    <meta name="keywords" content="Travel Analytics">

    <!-- meta data to tell the browser that your devide is responsive -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="index, follow">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">

    <!--  Social media sharing META Tags -->

    <meta property="og:title" content="{{page.title}}">
    <meta property="og:url" content="{{page.url}}">
    <meta name="twitter:card" content="Well Traveled - Making Travel Smarter">
    <meta name="og:site_name" content="Well Traveled - Making Travel Smarter"> <!-- ADD SITE NAME HERE -->
    <!-- visit http://realfavicongenerator.net to generate favicons for your site and then place them in the /images/favicons folder -->

    <link href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.min.css" rel="stylesheet" type="text/css">
    <link href="/css/main.css" rel="stylesheet" type="text/css">

    <link rel="apple-touch-icon" sizes="180x180" href="/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="/favicons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/favicons/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/favicons/manifest.json">
    <link rel="mask-icon" href="/favicons/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="/favicons/favicon.ico">
    <meta name="msapplication-config" content="/favicons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">



<!-- end stylesheets -->
