
/*
 * Keyframes
 */

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes fadeinupLeft {
  0% {
    opacity: 0;
    transform: translate3d(-10%, 80%, 0);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes fadeinupRight {
  0% {
    opacity: 0;
    transform: translate3d(10%, 80%, 0);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}


@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}


@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes grow {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
  opacity: 1;
  }
}

.m-scene {
  /** Basic styles for an animated element */
  .scene_element {
    animation-duration: 1.5s;
    transition-timing-function: ease-in;
    animation-fill-mode: both;
  }

  .fade-vp {
    opacity: 0;
  }


  /** An element that fades in */
  .scene_element--fadein {
    animation-name: fadeIn;
  }

  /** An element that fades in and slides up */
  .scene_element--fadeinup {
    animation-name: fadeInUp;
  }

  .scene_element--fadeinupLeft {
    animation-name: fadeinupLeft;
  }

  .scene_element--fadeinupRight {
    animation-name: fadeinupRight;
  }

  .scene_element--fadeindown {
    animation-name: fadeInDown;
  }


    /** An element that fades in and slides from the right */
  .scene_element--fadeinright {
    animation-name: fadeInRight;
  }

  .scene_element--grow {
    animation-name: grow;
  }


  .scene_element--fade {
    animation-name: fade;
  }


  &.is-exiting {
      .scene_element {
        animation-direction: alternate-reverse;
      }
  }

}
