<!DOCTYPE html>
<html>
<head>
{% include head.html %}
{% assign current = page.url | downcase | split: '/' %}
</head>
    <body>
      <div class="m-scene" id="main">
      {% include contact-slide.html %}
      {% include menu-slide.html %}

      <header class="main-header">
        <div class="container cont-no-pad grid-middle">
           <div class="col-4_sm-8">
             <h2>Sam Ruiz</h2>
           </div>
          <nav class="main-nav col-8 hide-phone">
                <a class="exit-signup" href="/index.html">Home</a>
                <a class="exit-signup" href="/blog.html">Blog</a>
                <a class="trigger contact-trigger no-smoothState">Contact</a>
          </nav>
        </div>
        <i class="icon-menu icons menu-trigger mobile-only"></i>
      </header>
         {{ content }}

      {% include site-footer.html %}
</div>
   {% include body-scripts.html %} <!-- this will paste in all of the scripts you want before the closing body tag -->
    </body>
</html>
